oj-sample-mobile-local-authentication .dla-config-screen {
  padding:10px;
}

oj-sample-mobile-local-authentication .demo-display-none {
  display:none;
}

oj-sample-mobile-local-authentication .demo-display-block {
  display:block;
}